# Ignore everything
*

# But not these files...
!.gitignore
!**/*.xml
!**/*.md
!**/*.java
!**/*.properties

# And not these directories...
!**/

# Additionally, explicitly un-ignore any other important files
# For example, if you have specific configuration files or scripts
!**/*.yml
!**/*.json
!**/script.sh
